:root {
  --main-color1: #2987be;
  --main-color2: #1059b8;
}

* {
  font-family: "Azeret Mono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  margin-top: 150px;
}
.timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.timer_block {
  width: 150px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.time {
  background-color: var(--main-color1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 95px;
  height: 150px;
}
.title {
  background-color: var(--main-color2);
  padding: 5px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
  color: #fff;
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 150px;
}
.button {
  border: none;
  border-radius: 10px;
  font-size: 18px;
  padding: 10px;
  width: 180px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.button.start,
.button.stop {
  color: var(--main-color1);
}
.button.start:hover,
.button.stop:hover {
  color: #fff;
  background-color: var(--main-color2);
}
.button.pause {
}
.button.pause:hover {
  background-color: #e03b8b;
  color: #fff;
}
.button.new:disabled {
  background-color: none;
  cursor: not-allowed;
}
.results_block {
  position: absolute;
  left: 15px;
  bottom: 0;
  width: 250px;
  border: 1px solid var(--main-color2);
  color: var(--main-color1);
  font-size: 18px;
  padding: 15px;
  text-align: center;
}
.results_info {
  margin: 10px 0;
  font-size: 16px;
}
